<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso nao autorizado</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">volte a home page</a>
</div>